.App {
    
    width: 80%;
    margin: auto;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: lightblue;
  }

  
table { 
    /* border-bottom: 1px solid black; */
    width: 100%;
    border-spacing: 0;
    margin:auto;
    
}

td {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: center;
    
}

tr {
    background: rgb(210, 210, 252);
}

.names {
    background: rgb(123, 123, 211);
}

button {
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;    
}

.my-file-input { 
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;    
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(240, 240, 240);   
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}